pkgbase = nuke-cataclysm-dda-git
	pkgdesc = A post-apocalyptic roguelike.
	pkgver = 0.D.r22454.g8c0034b74e
	pkgrel = 2
	url = https://github.com/CleverRaven/Cataclysm-DDA
	arch = x86_64
	license = CCPL:by-sa
	makedepends = sdl2_image
	makedepends = sdl2_ttf
	makedepends = sdl2_mixer
	makedepends = freetype2
	makedepends = git
	makedepends = ccache
	makedepends = clang
	makedepends = astyle
	depends = ncurses
	depends = sdl2_image
	depends = sdl2_ttf
	depends = freetype2
	depends = sdl2_mixer
	conflicts = cataclysm-dda
	conflicts = cataclysm-dda-ncurses
	conflicts = cataclysm-dda-tiles
	conflicts = cataclysm-dda-git
	source = nuke-cataclysm-dda-git::git://github.com/CleverRaven/Cataclysm-DDA.git#branch=master
	md5sums = SKIP

pkgname = nuke-cataclysm-dda-git

